.tp-card {
  max-width:400px;
}
.tp-header-image{
  background-image: url(https://revcycleintelligence.com/images/site/features/2018-11-29_Healthcare_workforce_managment.jpg);
  background-size: cover;
}
